<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (stockRecords) {
      <div>
        <h2 data-cy="stockRecordsDetailsHeading"><span jhiTranslate="chartTestingApp.stockRecords.detail.title">Stock Records</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ stockRecords.id }}</span>
          </dd>
          <dt><span jhiTranslate="chartTestingApp.stockRecords.sticker">Sticker</span></dt>
          <dd>
            <span>{{ stockRecords.sticker }}</span>
          </dd>
          <dt><span jhiTranslate="chartTestingApp.stockRecords.businessDate">Business Date</span></dt>
          <dd>
            <span>{{ stockRecords.businessDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="chartTestingApp.stockRecords.stockPrice">Stock Price</span></dt>
          <dd>
            <span>{{ stockRecords.stockPrice }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">返回</span>
        </button>

        <button type="button" [routerLink]="['/stock-records', stockRecords.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">編輯</span>
        </button>
      </div>
    }
  </div>
</div>
